@media only screen and (max-width: 1200px) {
	
	.container { width: 960px; }	
	/*.logo { max-width: 235px; height: auto; }*/
	
	.header_menu { max-width: 600px; }
	.header_menu ul li { margin-right: 8px; font-size: 14px; }
	
	.list_carousel li {
		margin: 0 20px 0 0;
		width: 307px;
	}
	.list_carousel li img { width: 307px; height: 307px; }	
	.list_carousel li iframe { width: 307px; height: 307px; }	
	
	.home_left { float: left; width: 650px; }
	
	.home_post_box { width: 307px; margin-right: 20px; }
	.home_post_box img,
	.home_post_box iframe { width: 307px; height: 307px; }
	.home_post_box_last { margin-right: 0; }
	
	.archive_cont .home_post_box { margin-right: 18px; }
	.archive_cont .home_post_box_last { margin-right: 0; }
	
	
	
	.single_left { width: 650px; }
	.home_blog_box { margin-right: 8px; width: 307px; }
	.home_blog_box img,
	.home_blog_box iframe { width: 307px; height: 307px; }
	.home_blog_box_last { margin-right: 0; }
	
	.archive_title { margin-bottom: 20px; font-size: 23px; }
	.archive_box { margin-right: 15px; font-size: 13px; width: 307px; }
	.archive_box img,
	.archive_box iframe { width: 307px; height: 307px; }
	.archive_box_last { margin-right: 0; }
	
	#sidebar { width: 290px; }
	
	.footer_box_col { width: 296px; margin-right: 36px; }
	.footer_box_col_last { margin-right: 0; }
	
	.single_inside_content img { max-width: 100%; height: inherit; }
	.single_inside_content iframe { width: 630px; height: 355px;}
	
}
/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	.container { width: 748px; }
	.slicknav_menu { display: block; position: relative; z-index: 99999; }
	#header { position: absolute; }
	
	.header_menu { display: none; }
	/*#header { top: 55px; }
	ul.slicknav_nav { position: relative; z-index: 99999; }*/
	.slicknav_menu { /*height: 45px;*/ }
/*	#header { text-align: center; }	
	#header { position: absolute; top: 55px; width: 100%;  }*/
/*	.header_spacing { display: none; }*/
/*	.logo { float: none; margin: 0; }*/
	.list_carousel li {
		margin: 0 12px 0 0;
		width: 242px;
	}
	.list_carousel li img { width: 242px; height: 242px; }	
	.list_carousel li iframe { width: 242px; height: 242px; }	
	.home_left { width: 510px; }
	
	.home_post_box { width: 242px; margin-right: 15px; }
	.home_post_box img,
	.home_post_box iframe { width: 242px; height: 242px; }
	.home_post_box_last { margin-right: 0; }
	
	.archive_cont .home_post_box { margin-right: 6px; margin-bottom: 10px; }
	.archive_cont .home_post_box_last { margin-right: 0; }		
	
	.single_left { width: 500px; }
	
	.home_blog_box { margin-right: 8px; width: 244px; }
	.home_blog_box img,
	.home_blog_box iframe { width: 244px; height: 231px; }
	.home_blog_box_last { margin-right: 0; }
	
	.archive_box { margin-right: 15px; font-size: 12px; width: 239px; margin-bottom: 20px; }
	.archive_box img,
	.archive_box iframe { width: 239px; height: 160px; }
	.archive_box_last { margin-right: 0; }
	.archive_box_tcell { line-height: 15px; }
	.archive_box h3 { font-size: 19px; }
	
	#sidebar { width: 220px; }
	.t1_search_cont input[type=text] { width: 100px; }
	.t1_search_cont input[type=submit] {  width: 70px; }		
	
	.footer_box_col { width: 229px; margin-right: 20px; }
	.single_inside_content img { max-width: 100%; height: inherit; }
	.single_inside_content iframe { width: 500px; height: 290px;}
	
}
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) { 
	.container { width: 300px; }
	
	#header { position: static; width: auto; }
	.slicknav_menu { display: block; position: relative; z-index: 99999; }
	.slicknav_menu { /*height: 45px;*/ }
/*	#header { text-align: center; }	
	#header { position: absolute; top: 55px; width: 100%;  }*/
	.header_spacing { display: none; }
/*	#header .container {  }
	.logo { float: none; margin: 0; }*/
	.header_menu { display: none; }
	.header_social { float: none; padding-bottom: 10px; }
	.header_menu ul li { margin-right: 20px; }
	.header_search { float: none; margin: 15px auto; }
	.header_bottom { padding-bottom: 0; }
	
	.list_carousel li {
		margin: 0 10px 0 0;
		width: 300px;
	}
	.list_carousel li img { width: 300px; height: 300px; }		
	.list_carousel li iframe { width: 300px; height: 300px; }		
	
	.home_post_box .left { float: none; width: auto;  margin-bottom: 15px; }
	.home_post_box .left img,
	.home_post_box .left iframe { width: 300px; height: 127px; }
	.home_post_box .right { min-height: 50px; width: auto; padding-bottom: 25px; float: none; }
	.home_post_read_line { width: 180px; }
	
	.home_left { width: auto; float: none; }
	
	.home_post_box { float: none; width: auto; margin: 0 auto 20px; }
	.home_post_box img,
	.home_post_box iframe { width: 300px; height: 300px; max-width: 100%; }
	.home_post_box_last { margin-right: auto; }	
	
	.archive_cont .home_post_box { margin-right: auto; margin-bottom: 20px; }
	.archive_cont .home_post_box_last { margin-right: auto; }			
	
	.single_left { float: none; width: auto; margin-bottom: 25px; }
	
	.single_inside_content img { width: 300px; height: 169p }
	.single_inside_content iframe { width: 300px; height: 169px; }
	
	.home_blog_box { margin: 0 auto 20px; width: 300px; }
	.home_blog_box img,
	.home_blog_box iframe { width: 300px; height: 285px; }
	.home_blog_box_last { margin-right: auto; }
	
	.archive_box { margin: 0; font-size: 12px; width: auto; margin-bottom: 20px; }
	.archive_box img,
	.archive_box iframe { width: 300px; height: 201px; }
	.archive_box_last { margin-right: 0; }
	.archive_box_tcell { line-height: 15px; }
	.archive_box h3 { font-size: 19px; }
	
	#commentform textarea { max-width: 280px; }		
	#sidebar { float: none; width: auto; }	
	.t1_search_cont input[type=text] { width: 210px; }
	.t1_search_cont input[type=submit] {  width: 80px; }		
	
	.footer_box_col { float: none; width: auto; padding: 10px 0 10px; margin: 0; }
	.footer_copyright .left { float: none; margin-bottom: 15px; }
	.footer_copyright .right { text-align: center; float: none; }	
	
}