*, h1{
    font-family: "Josefin Sans", arial, sans-serif;
}
body {
    line-height: 1.43em;
    background-color: #f7f7f7;
    font-family: "Source Sans Pro";
    color: #361800;
    display: table-cell;
    vertical-align: middle;
}
h1 {
    line-height: 40px;
    margin-bottom:30px;
    margin-top:30px;
}
h2 {
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 40px;
    margin-left: 40px;
    line-height: 50px;
}

li {
    margin-top: 12px;
    margin-bottom: 15px;
    font-size: 20px;
    list-style-type: none;
    line-height: 1.2em;
}
hr {
    border: none;
    height: 1px;
    background-color: #333;
}
td {
    font-size: 120%;
    width: 150px;
    height: 30px;
}
.title {
    margin-top: 30px;
    font-size: 100px;
    font: georgia;
    color: black;
}
.italic {
    margin-bottom: 30px;
    font-family: 'Dancing Script';
}
.container {
    margin: 30px;
}
.summary,
ul,
li {
    font-size: 17px;
    line-height: 1.43em;
    margin-right: 15px;
    margin-left: 15px;
    margin-top:20px;
    margin-bottom:20px;
}

.menu-item-232 {
    width: 70px;
}
.side_box,
h3.side_title,
.jetpack-image-container,
iframe {
    display: block;
    margin: 30 auto;
    text-align: center;
}
.button,
button.button {
    background-color: #5CB3FF;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 17px;
    padding: 6px 31px;
    text-decoration: none;
    text-shadow: 0px 0px 0px #2f6627;
}
.button:hover,
button.button:hover {
    background-color: white;
    color: #5CB3FF;
}
.button:active,
button.button:active {
    position: relative;
    top: 1px;
}
@media only screen and (max-width: 800px) {
    .title {
        font-size: 2.8em;
    }
    .italic {
        margin-top: 20px;
        font-size: 1.1em;
    }
    .schedule {
        font-size: 0%;
    }
    .container,
    .single_inside_content {
        width: 90%;
    }
    .mobile_version {
        display: none;
    }
    li {
        font-size: 100%;
        line-height: 20px;
        height: 20px;
        margin-bottom: 20px;
    }
}
@media only screen and (min-width: 800px) {
    .title {
        margin-top: 150px font-size: 6.5em;
    }
    .italic {
        margin-top: 60px;
        font-size: 2.0em;
    }
    .schedule {
        font-size: 250%;
    }
}
/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    *{
        text-align: center;
        margin:0px auto;
    }
    .summary,
    li,
    ul {
        font-size: 0.8em;
    }
    .title {
        font-size: 2.9em;
    }
    h1 {
        font-size: 1.7em;
    }
    .container {
        font-size: .8em;
        margin-bottom: 10px;
    }
    .italic {
        font-size: 1em;
        margin-bottom: 8px;
    }
    img,
    iframe,
    .scheduler,
    a.twitter-timeline,
    .twitter {
        display: none;
    }
    ul,
    li,
    a {
        font-size: 13px;
        margin-top, margin-bottom: .5px;
        line-height: 15px;
        padding: 0;
    }

    }
}
/* iPads (portrait and landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* Styles */
}
/* iPads (landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    /* Styles */
}
/* iPads (portrait) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    /* Styles */
}
/* Desktops and laptops ----------- */

@media only screen and (min-width: 1224px) {
    /* Styles */
}
/* Large screens ----------- */

@media only screen and (min-width: 1824px) {
    /* Styles */
}
/* iPhone 4 ----------- */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {}