
         html, body {
              height: 100%;
          }

          html {
              display: table;
              margin: auto;
          }

         h1,h2,h3,h4,p,body,blockquote,td,li,.schedule, .button, .summary { 
            font-family:"Josefin Sans", arial, sans-serif;
         }  

         .title {
            margin-top: 30px;
            font-size: 100px;
            font: georgia; 
            color: black; 
         }    

         .italic {
            margin-bottom: 30px; 
            font-family: 'Dancing Script';
         }

         .schedule {
            margin-bottom:40px; 
            margin-top:100px;
         }

         h1 {
            margin-bottom:20px; 
            margin-top:40px; 
            line-height: 40px;
         }      

         .summary {
            font-size: 120%;
            line-height:1.33em;
            margin-bottom:30px;
         }

         li {
            font-family:"Josefin Sans", arial, sans-serif;
            margin-top: 15px;
            margin-bottom: 15px;
            font-size:150%;
            list-style-type: none; 
            line-height:1.2em;
         }

         hr {
             border: none;
             height: 1px;
             background-color: #333;
         }

         body {
           width:90%;
           line-height:1.33em;
           margin:1em;
           margin-left: 30px;
           margin-right: 30px;
           background-color:#f7f7f7;
           font-family: "Source Sans Pro";
           color:#361800;
            display: table-cell;
            vertical-align: middle;

        }   

         h2 {
            margin-bottom:20px; 
            margin-top:20px; 
            margin-right:40px; 
            margin-left: 40px;
            line-height: 50px;
         }         

         td {
            font-size:120%;
            width:150px;
            height:30px;
         }         

         ul {
            -webkit-padding-start: 0px;

         }

         .menu-item-232 {
            width:70px;
         }  

         content {
            width: 150px;
         }    

         .side_box, h3.side_title, .jetpack-image-container, iframe {
               text-align: center;
            }

          .button {
            background-color:#5CB3FF;
            -moz-border-radius:10px;
            -webkit-border-radius:10px;
            border-radius:10px;
             display:inline-block;
            cursor:pointer;
            color:#ffffff;
            font-size:17px;
            padding:6px 31px;
            text-decoration:none;
            text-shadow:0px 0px 0px #2f6627;
          }
          .button:hover {
            background-color:white;
            color:#5CB3FF;
          }
          .button:active {
            position:relative;
            top:1px;
          }

         @media only screen and (max-width : 800px) {
            .title {
               font-size:2.8em; 
            }
            .italic {
               margin-top:20px; 
               font-size: 1.1em;
            }
            .schedule {
               font-size:0%; 
            }

            .container, .single_inside_content {
               width: 90%;
               margin-left: 30px;
               margin-right: 30px;
            }

            li {
               font-size: 100%;
               line-height: 20px;
               height: 20px;
               margin-bottom: 20px;
            }
         }

         @media only screen and (min-width : 800px) {
               .title{
                  margin-top: 150px
                  font-size:6.5em;          
            }
               .italic {
                  margin-top:60px; 
                  font-size:2.0em;
               }
               .schedule {
                  font-size:250%; 
               }  
         
         }  

         /* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

    body {
       margin-right: 30px;
    }
    .summary, li, ul {
      font-size:1.0em;
    }

    .title{
      font-size:2.5em;
    }

    h1 {
      font-size:2em;
    }
    .italic, .container {
      font-size:.8em;
      margin-bottom: 10px; 
    }

    img, iframe, .scheduler, a.twitter-timeline, .twitter {
      display: none;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {

}

         